.App {
  text-align: center;
}

.App-header {
  background-color: gray;
  height: 20px;
  padding: 0 0 25px 0;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h2, h3 {
  color: #FFF;
  margin-bottom: 0px;
}

.menu-wrapper {
  padding: none;
  margin: none;
}

.scroll-item {
  user-select: none;
  border: none;
}

.scroll-item-wrapper.active {
  /* border: 1px blue solid; */
  box-shadow: #FFF;
  cursor: pointer;
}

.scroll-item.active {
  /* border: 1px green solid; */
  box-shadow: #FFF;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
